.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.routes{
  border: solid black;
  margin-top: 50px;
  margin-right: 300px;
  margin-left: 300px;

}